
<h1>新規投稿</h1>

<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <%= @tweet.errors.count %>件のエラーが発生しました。
    <% @tweet.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

<br>
<%= f.attachment_field :image %>

<h4>タイトル</h4>
<%= f.text_field :title %>
<h4>本文</h4>
<%= f.text_area :body %><br>
<%= f.submit "投稿" %>

<% end %>