<h1>投稿詳細</h1>

<table>
  <tr>
    <td><%= attachment_image_tag @tweet.user, :profile_image, :fill, 20, 20, format: 'jpeg', fallback: "no_image,id" %></td>
  </tr>
  <tr>
    <td><%= attachment_image_tag @tweet, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
  </tr>
  <tr>
    <td><%= @tweet.title %></td>
  </tr>
  <tr>
    <td><%= @tweet.body %></td>
  </tr>
  <tr>
    <td><%= @tweet.created_at.strftime('%y/%m/%d') %></td>
  </tr>
</table>

<% if @tweet.user == current_user %>
  <%= link_to "編集", edit_tweet_path %>
  <%= link_to "削除", tweet_path(@tweet), method: :delete, data: {confirm: "本当に削除しますか？"} %>
<% end %>

<% if @tweet.favorited_by?(current_user) %>
  <%= link_to tweet_favorites_path(@tweet), method: :delete do %>
    <%= @tweet.favorites.count %> いいね
  <% end %>
<% else %>
  <%= link_to tweet_favorites_path(@tweet), method: :post do %>
    <%= @tweet.favorites.count %> いいね
  <% end %>
<% end %>

<ul>
  <li>
    <%= @tweet.post_comments.count  %>
  </li>
</ul>

<p class="commnet-count"><%= @tweet.post_comments.count %>件コメント</p> 





<% @tweet.post_comments.each do |post_comment| %>

<%= post_comment.user.name %>

<%= post_comment.comment %>

<%= post_comment.created_at.strftime('%Y/%m/%d') %>

<% if post_comment.user == current_user %>
<%= link_to "削除", tweet_post_comment_path(post_comment.tweet, post_comment), method: :delete, data: {confirm: "本当に削除しますか？"} %>
<% end %>
<% end %>


<%= form_for [@tweet, @post_comment] do |f| %>

<%= f.text_area :comment, placeholder: "コメントをここに" %><br>
<%= f.submit "送信" %>

<% end %>



