

<h4>プロフィール画像:</h4> 
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
<h4>名前: <%= @user.name %></h4>

<% if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_path(@user) %>
<% end %>

<%= @tweets.each do |tweet| %>

<table>
  <tbody>
  <tr>
    <td><%= attachment_image_tag tweet, :image, :fill, 100, 100, format: 'jpeg' %></td>
  </tr>
  <tr>
    <td>
      title:
      <%= link_to tweet_path(tweet.id) do %> 
        <%= tweet.title %>
      <% end %>  
    </td>
  </tr>
  <tr>
    <td>本文: <%= tweet.body %></td>
  </tr>
  <tr>
    <td><%= tweet.created_at.strftime('%y/%m/%d') %></td>
  </tr>
  <tr>
    <td><%= link_to "#{tweet.post_comments.count}コメント", tweet_path(tweet.id) %></td>
  </tr>
  </tbody>
</table>
<% end %>
